* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// ---  re-usuable button component ---
.button {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.5px;
}