// --- slide-Out cart and overlay ---
.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 99;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

}

.cart-overlay--is-open {
    opacity: 1;
    visibility: visible;
}

// --- slide cart component ---
.slide-cart {
   position: fixed;
   top: 0;
   right: 0;
   width: 100%; 
   max-width: 350px; 
   height: 100%;
   background-color: white;
   z-index: 100;
   display: flex;
   flex-direction: column;
    
    //slide animation
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.slide-cart--is-open {
    transform: translateX(0);
}

// Cart Header
.slide-cart__header {
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.slide-cart__title {
    font-family: $font-family-primary;
    font-size: 1.2rem;
    font-weight: 700;
}


.slide-cart__close-btn {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #666;
}

// Cart Content (Scrollable Area)
.slide-cart__content {
    flex-grow: 1; 
    padding: 20px;
    overflow-y: auto; 
    -webkit-overflow-scrolling: touch;
}

// --- slide cart footer ---
.slide-cart__footer {
    padding: 20px;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
    text-align: center;
}

.slide-cart__subtotal {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
    text-align: center;
}

.slide-cart__continue-btn {
    background: none;
    border: none;
    color: #6666;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    padding: 10px;
    cursor: pointer;
}

// --- cart item ---
.cart-item {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.cart-item__image {
    width: 80px; 
    height: 80px;
    object-fit: cover;
}

.cart-item__details {
    flex-grow: 1;
    text-align: left;
}

.cart-item__name {
    font-weight: 400;
    font-family: $font-family-secondary;
    font-size: 0.95rem;
    line-height: 1.2;
    margin-bottom: 5px;
}

.cart-item__price {
    color: $color-brand-primary;
    font-weight: 700;
    font-size: 0.95rem;
    display: block;
    margin-bottom: 3px;
}

.cart-item__remove-btn {
    background: none;
    border: none;
    color: #999;
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}
