// --- content block ---
.content-block__title {
    font-family: $font-family-primary;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;

     @media (min-width: 768px) {
        font-size: 3rem;
    }
}

.content-block__text {
    max-width: 500px;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #666;
}