
// --- header ---
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white; 
}
.header__logo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}

.header__cart-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: $color-brand-secondary;
    
    svg {
        width: 24px;
        height: 24px;
        display: block;
    }
}

.page-layout {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  width: 100%; 
}

.page-layout__content-block, 
.page-layout__product-showcase {
  width: 50%; 
  
  flex: 1 1 50%; 
}
