
// --- header ---
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white; 
}
.header__logo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
}