.product-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: center;

}

.product-card__image {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.product-card__title {
    font-family: $font-family-primary;
}

.product-card__price {
    color: $color-brand-primary;
}